@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-landing {
    background-image: url('./assets/910637-most-wanted-wallpaper-1920x1200-pc.jpg');
    background-size: cover;
    background-position: center;
  }